.eats-page {
    padding-top: 300px;
}

.eats-header {
    font-family: 'Oxygen', sans-serif;
    font-size: 50px;
    color: #313131;
    text-align: center;
    font-weight: lighter;
}

.eats-partner-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
}

@media only screen and (max-width: 1250px ){
    .eats-partner-wrapper {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 1000px) {
    .eats-page {
        padding-top: 175px;
    }
}

@media only screen and (max-width: 850px) {
    .eats-partner-wrapper {
        grid-template-columns: auto;
    }
}