.events-page {
    padding-top: 100px;
    min-height: 100vh;
}

.event-holder {
    width: 50%;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin: auto;
}

.event-wrapper {
    height: auto;
    margin: 10px 0px;
    background: #e8e8e8;
    box-shadow: 0px 0px 2px #676767;
    padding: 5px 10px;
} 

.event-title {
    font-size: 30px;
    color: #222;
    text-align: left;
    font-weight: lighter;
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    padding: 0;
}

.event-info {
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    text-align: left;
    margin: auto;
    position: relative;
}

.event-info img {
    width: 150px; 
    height: 150px;
    display: block;
    float: left;
    margin: 0 20px;
    position: relative;
    top: 0;
}

.event-info a {
    font-family: 'Arvo', serif;
    text-decoration: none;
    color: #212121;
}

.event-info a:hover {
    color: #21577D;
    text-decoration: underline;
}

.event-info br:nth-child(3) {
    display: none;
}
.event-info br:nth-child(4) {
    display: none;
}