.events-container {
    padding-top: 120px;
}
.events-page {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    padding-bottom: 50px;
}
.event-header {
    text-align: center;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    color: #4a4a4a;
    font-weight: lighter;
}
.event-top-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    justify-items: center;
    align-content: space-evenly;
    align-items: space-evenly;
    margin-bottom: 20px;
}
.event-top-img {
    max-width: 90%;
    width: auto;
    height: auto;
    max-height: 500px;
    display: block;
}

.event-holder {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    justify-items: flex-start;
    align-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
}
.event-holder:hover {
    transform: scale(1.02);
}

.event-container {
    background: #f9f9f9;
    padding: 5px 10px;
    border-radius: 10px;
    width: 90%;
    box-shadow: 0px 0px 3px #676767;
    min-width: 300px;
    max-width: 600px;
} 

.event-title {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: 400;
    color: #212121;
    padding: 0;
    margin: 0;
    text-align: center;
}

.event-info {
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    margin: auto;
    position: relative;
}
.event-popup-container img {
    display: block;
    align-self: left;
    float: left;
    padding: 10px;
}
.event-popup-container br:nth-child(-n + 3) {
    display: none;
}

/* CRUSH WINE FESTIVAL */
.festival-event-holder {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    width: auto;
    height: auto;
    background: #f9f9f9;
    max-width: 450px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #676767;

}
.festival-header {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: lighter;
    color: #4a4a4a;
    text-align: center;
    margin: 20px 0 0 0;
    padding: 5px 0;
}
.festival-dates {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: #4a4a4a;
    text-align: center;
    margin: 0;
    padding: 5px 0;
}
.festival-location {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
    color: #4a4a4a;
    text-align: center;
    font-weight: lighter;
    margin: 0;
    padding: 5px 0;
}

@media only screen and (max-width: 950px) {
    .events-page {
        display: flex;
        flex-flow: column;
    }
}

@media only screen and (max-width: 600px) {
    #gone {
        display: none;
    }
    .event-top-wrapper {
        grid-template-columns: auto auto;
    }
}
@media only screen and (max-width: 460px) {
    .festival-event-holder {
        background: inherit;
        box-shadow: none;
        border-radius: 0;
    }
}

@media only screen and (max-width: 350px) {
    .event-container {
        padding: 5px;
    }
}