.footerWrapper {
    height: 60px;
    width: 100vw;
    background-color: #F9F9F9;
    margin-bottom: -5px;
    background: #1F567C;
    overscroll-behavior-y: none;
}

.footer {
    height: 80px;
    width: 100%;
    border-top: 1px solid #515151;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background: #454063;
}
.footer-icon {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    justify-items: baseline;
    align-items: center;
    align-content: center;
    text-decoration: none;
    color: #f8f8f8;
    font-size: 20px;
}
.footer-icon:hover {
    transform: scale(1.1);
}

.icon:hover {
    color: #dddddd;
}
.footerText {
    padding-left: 10px;
    font-size: 20px;
}