#mlh-icon {
  transform: rotate(-5deg);
  width: 200px;
  height: auto;
  margin-top: 5px;
  z-index: 110;
}

#mlh-icon-small {
  margin-top: 0;
  width: 150px;
  height: auto;
  position: relative;
  padding-top: 0;
}

.navbar {
  display: none;
}

.navbar2 {
  background: linear-gradient(to bottom, #1A1A1C 40%, rgba(26, 26, 28, 0.856), transparent);
  position: fixed;
  z-index: 100;
  width: 100vw;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  height: 80px;
  transition: top 0.3s ease-in-out;
  display: flex;
  flex-flow: row;
  align-content: center;
  align-items: center;
}

.top-nav-icon:hover {
  transform: scale(1.05);
}

.far {
  padding-right: 10px;
}

.fab {
  padding-right: 10px;
}

.fas {
  padding-right: 10px;
}

.dropdown {
  display: flex;
  float: none;
  flex-flow: column;
  height: auto;
  min-height: 60px;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.dropbtn {
  text-decoration: none;
  background: inherit;
  display: block;
  color: #1A1A1C;
  font-size: 18px;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  margin: 0;
  font-family: gitan-latin, sans-serif;
  font-weight: 500;
  align-self: center;
  justify-self: center;
}

.dropdown-content {
  display: none;
  background: none;
  width: 200px;
  top: 0;
  height: auto;
  align-self: center;
  text-align: center;
  z-index: 10;
  padding-top: 0;
  margin-top: 0;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.dropdown-closed {
  display: none;
}

.dropdown-open {
  display: flex;
  flex-flow: column nowrap;
  background: none;
  width: auto;
  top: 0;
  left: 0;
  height: auto;
  text-align: center;
  z-index: 10;
  overflow: visible;
}

.dropdown-link {
  color: #1A1A1C;
  display: block;
  text-decoration: none;
  height: auto;
  padding: 10px 0;
  width: 100%;
  font-size: 18px;
  font-family: gitan-latin, sans-serif;
  z-index: 100;
  margin-top: 0;
  font-weight: 500;
}

.closed {
  display: none;
  position: relative;
}

.dropdown3-closed {
  display: none;
  position: relative;
}

.dropdown4-closed {
  display: none;
  position: relative;
}

.dropdown5-closed {
  display: none;
  position: relative;
}

.dropdown3-open {
  list-style-type: none;
  display: flex;
  flex-flow: column;
  position: relative;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

.dropdown4-open {
  list-style-type: none;
  display: flex;
  flex-flow: column;
  position: relative;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

.dropdown5-open {
  list-style-type: none;
  display: flex;
  flex-flow: column;
  position: relative;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

.open {
  list-style-type: none;
  display: flex;
  flex-flow: column;
  position: absolute;
  align-content: center;
  align-items: center;
  width: 200px;
  left: 0;
  top: 0px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: visible;
}

.navbar-toggle {
  position: absolute;
  top: 25px;
  right: 50px;
  cursor: pointer;
  color: #1A1A1C;
  font-size: 24px;
}

.toggle-closed {
  position: absolute;
  top: 25px;
  left: 50px;
  cursor: pointer;
  color: #F5F7F6;
  font-size: 25px;
}

.toggle-open {
  position: absolute;
  top: 25px;
  left: 50px;
  cursor: pointer;
  color: #F5F7F6;
  font-size: 25px;
}

.active {
  display: block;
}

.nav-x {
  font-family: gitan-latin, sans-serif;
  font-size: 30px;
  position: relative;
  cursor: pointer;
  color: #1A1A1C;
  z-index: 105;
  font-weight: 700;
}

@media screen and (min-width: 1000px) {
  .navbar2 {
    display: none;
  }

  .navbar {
    position: fixed;
    z-index: 100;
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    flex-flow: column;
  }

  .nav-top-row {
    display: flex;
    flex-flow: row;
    background-color: #000000;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 40px;
    top: 0;
    transition: top 0.3s ease-in-out;
    justify-content: flex-end;
    justify-items: flex-end;
    align-content: center;
    align-items: center;
  }

  .nav-top-column2 {
    display: flex;
    flex-flow: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    justify-items: space-evenly;
    padding-right: 50px;
  }

  .top-nav-icon {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-flow: row;
    justify-content: baseline;
    justify-items: baseline;
    align-items: center;
    align-content: center;
    font-family: gitan-latin, sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
  }

  .nav-line {
    width: 100%;
    position: absolute;
    top: 40px;
    padding: 0;
    margin: 0;
    height: 3px;
    background: #fff;
    z-index: 110;
  }

  .main-nav {
    background: linear-gradient(to bottom, #000000, transparent);
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 0;
    padding-bottom: 0;
    transition: top 0.3s ease-in-out;
    display: flex;
    flex-flow: row;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-evenly;
    justify-items: space-evenly;
    list-style: none;
    z-index: 100;
  }
  .main-nav li {
    margin: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .dropbtn {
    border: none;
    outline: none;
    background: inherit;
    color: #F5F7F6;
    font-size: 18px;
    font-family: gitan-latin, sans-serif;
    margin: 0;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    width: 100vw;
    background: #000000;
    height: auto;
    top: 130px;
    left: 0;
    z-index: 0;
  }

  .dropdown-link {
    font-size: 25px;
    color: #F5F7F6;
    position: relative;
    text-decoration: none;
    height: auto;
    display: block;
    text-align: left;
    left: 20vw;
    width: 100%;
    display: flex;
    flex-flow: row;
  }
  .dropdown-link .material-icons {
    padding-top: 12px;
    font-size: 25px;
    justify-self: baseline;
    align-self: baseline;
  }

  .dropdown:hover {
    cursor: pointer;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
  }
  .dropdown:hover .main-nav {
    background: #000000;
  }

  .dropdown-content:hover {
    display: block;
  }

  .dropdown:hover .main-nav {
    background: #000000;
  }

  .dropdown-row {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    background: #000000;
    color: #F5F7F6;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
    transition: 1s all;
    padding-top: 100px;
    padding-bottom: 30px;
    list-style-type: none;
  }

  .dropdown-row-closed {
    display: none;
  }

  #hotel-link {
    padding-bottom: 50px;
  }
}

/*# sourceMappingURL=nav.css.map */
