.header-wrapper {
    width: 100vw;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    background: #454063;
}

.header1 {
    text-align: center;
    font-size: 45px;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 4px;
    color: #f8f8f8;
    font-weight: bolder;
    background: #454063;
    width: auto;
    height: auto;
    padding: 10px;
    z-index: 1;
}

#top-image {
    background: url(../ashleyPhotos/diners.png);
    width: 100vw;
    height: 70vh;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
}

.display-wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
    padding-bottom: 0;
    background: #454063;
    z-index: 100;
    border-top: 1px solid #e8e8e8;
}
.display {
    font-family: "Arvo" serif;
    font-size: 23px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #f8f8f8;
}
.display:hover {
    cursor: pointer;
    color: #dddddd;
}
.smallLine {
    width: 1px;
    height: 70px;
    background: #e8e8e8;
}

.line {
    width: 100vw;
    height: 1px;
    background: #515151;
    padding: 0;
    margin-bottom: 50px;
}

.partners-top {
    position: relative;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: auto;
    width: 100vw;
}

.partner-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 95%;
    margin: 2.5%;
    padding-bottom: 20px;
    border-bottom: 1px solid #515151;
}
.partner-wrapper {
    display: grid;
    padding-top: 20px;
    position: relative;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: auto;
    width: 100vw;
}

.hide {
    display: none;
}

.partner-header {
    font-family: 'Arvo', serif;
    color: #4a4a4a;
    font-size: 30px;
    padding-top: 0;
    margin-top: 0;
}

.partner-logo {
    width: auto;
    height: 100px;
    display: block;
    align-self: center;
    justify-self: center;
    padding: 0;
    margin: 0;
}

.partner-video {
    width: 100%;
    height: 24vw;
    margin: 0 auto;
    padding: 0;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100%;
    overflow: auto;
    border: 1px solid #e8e8e8;
    z-index: 1000;
    background: #f2f3ee;
    overflow: auto;
    overscroll-behavior: contain;
}
.popupCloseButton {
   background-color: #fff;
   border: 3px solid #999;
   border-radius: 50px;
   cursor: pointer;
   display: inline-block;
   font-family: arial;
   font-weight: bold;
   position: fixed;
   top: 15px;
   right: 15px;
   font-size: 25px;
   line-height: 30px;
   width: 30px;
   height: 30px;
   text-align: center;
}

.popupCloseButton:hover {
   background-color: #ccc;
}

.map-link {
  text-align: center;
  font-family: 'Arvo', serif;
  font-size: 20px;
  color: #AA6CB4;
  margin: 0;
  padding: 0;
}

.map-link:hover {
  transform: scale(1.1);
  color: #4a4a4a;
}
.map-photo {
  width: 90vw;
  max-width: 1000px;
  min-width: 300px;
  display: flex;
  align-self: center;
  margin: 50px auto;
}

#map-popup {
  display: none;
  align-content: center;
  align-items: center;
  justify-content: center;
}


@media only screen and (max-width: 700px) {
    .partners-top {
        grid-template-columns: 100vw;
    }
    .partner-wrapper {
        grid-template-columns: 100vw;
    }
    .partner-video {
        width: 100%;
        height: 56vw;
    }
    .partner-container {
        width: 100%;
    }
}
@media only screen and (max-width: 650px) {
    .beer {
        background: url(../images/beerSmall.png);
        background-position: center center;
    }
    .activities {
        background: url(../images/targetSmall.png);
        background-position: center;
    }
}


@media only screen and (max-width: 420px) {
    .header1 {
        font-size: 30px;
    }
    .partner-logo {
        max-width: 300px;
        width: auto;
        max-height: 100px;
        height: auto;
    }
}

#map-popup {
    display: block;
}