.streets-page {
    padding-top: 140px;
}
.streets-video-holder {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    justify-items: space-evenly;
    align-content: center;
    align-items: center;
}
.streets-video-holder iframe {
    padding: 20px;
}

.streets-header {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: #313131;
    text-align: center;
    font-weight: lighter;
}
.streets-things-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
}

@media only screen and (max-width: 1250px) {
    .streets-things-wrapper {
        grid-template-columns: auto auto;
    }
}


@media only screen and (max-width: 850px) {
    .streets-things-wrapper {
        grid-template-columns: auto;
    }
}