/* HOME PAGE */
body {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: #1A1A1C;
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

.top-wrapper {
  position: relative;
  top: 0px;
  left: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  min-height: 75vh;
  height: auto;
  width: 100vw;
  filter: brightness(60%);
}

.top-container {
  position: absolute;
  height: 75vh;
  width: 100vw;
  overflow-x: hidden;
  background: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  overflow-y: hidden;
  justify-content: flex-end;
  justify-items: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  flex-flow: column;
  z-index: 5;
}

.top-container2 {
  position: absolute;
  height: 75vh;
  width: 100vw;
  overflow-x: hidden;
  background: none;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  justify-items: flex-end;
  align-content: flex-start;
  align-items: flex-start;
}

.top-header2 {
  color: #F5F7F6;
  text-align: right;
  padding: 0 35px 0 35px;
  margin: 0;
  line-height: 40px;
  font-family: "Coustard", sans-serif;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 1px;
}

.top-header3 {
  color: #F5F7F6;
  text-align: right;
  padding: 0 35px 0 35px;
  margin: 0;
  line-height: 40px;
  font-family: "Coustard", sans-serif;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 1px;
}

.tall-video {
  width: 250px;
  height: 500px;
}

.top-header {
  position: relative;
  color: #F5F7F6;
  font-family: bebas-neue, sans-serif;
  text-align: right;
  font-weight: 700;
  background: 0;
  padding: 0 30px 0 35px;
  margin: 0;
  font-size: 70px;
  line-height: 65px;
  letter-spacing: 3px;
}

.top-header1 {
  position: relative;
  color: #F5F7F6;
  font-family: bebas-neue, sans-serif;
  text-align: right;
  font-weight: 700;
  background: 0;
  padding: 0 30px 0 35px;
  margin: 0;
  font-size: 70px;
  line-height: 65px;
  letter-spacing: 3px;
}

.weatherwidget-io {
  position: relative;
  height: auto;
  width: 100%;
}

/* HOME NEWS */
.home-news-wrapper {
  width: 100%;
}

.home-news-header {
  font-family: garamond-premier-pro, serif;
  text-align: center;
  font-size: 45px;
  color: #F5F7F6;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

/* HOME EVENTS */
.home-events {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
}

.main-events-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  width: 100vw;
  padding-bottom: 50px;
}

.main-events-column {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: auto;
  max-width: 60vw;
  padding: 10px;
}

.home-events-header {
  font-family: garamond-premier-pro, serif;
  text-align: center;
  font-size: 40px;
  color: #F5F7F6;
  font-weight: 500;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.right-arrow-icon {
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
}

.home-event-link {
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-decoration: none;
}

.home-event-link:hover .right-arrow-icon {
  transform: scale(1.1);
}

.main-event-par {
  text-align: center;
  font-family: gitan-latin, sans-serif;
  font-size: 22px;
  padding: 0 20px;
  color: #F5F7F6;
  font-weight: 400;
}

/* STREETS BEATS & EATS */
.streets-eats-beats-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
}

/* STREETS */
.home-streets-container {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-content: center;
}

.home-streets-column {
  display: flex;
  flex-flow: column;
  max-width: 60vw;
  min-width: 40vw;
  width: auto;
  justify-content: flex-start;
  justify-items: flex-start;
  align-content: center;
  align-items: center;
}

.home-street-image {
  display: block;
  width: 100%;
  height: auto;
}

.home-streets-header {
  font-family: garamond-premier-pro, serif;
  text-align: center;
  font-size: 40px;
  color: #F5F7F6;
  font-weight: 500;
  padding: 30px 10px 10px 10px;
  margin: 0;
}

.home-streets-par {
  text-align: center;
  font-family: gitan-latin, sans-serif;
  font-size: 22px;
  color: #F5F7F6;
  padding: 10px 20px;
  margin: 0;
  font-weight: 400;
}

.home-streets-link {
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-decoration: none;
}

.home-streets-link:hover .right-arrow-icon {
  transform: scale(1.1);
}

/* HOME EATS */
.home-eats-container {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-content: center;
}

.home-eats-column {
  display: flex;
  flex-flow: column;
  max-width: 60vw;
  min-width: 40vw;
  width: auto;
  justify-content: flex-start;
  justify-items: flex-start;
  align-content: center;
  align-items: center;
}

.home-eats-link {
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-decoration: none;
}

.home-eats-header {
  font-family: garamond-premier-pro, serif;
  text-align: center;
  font-size: 40px;
  color: #F5F7F6;
  font-weight: 500;
  padding: 30px 0 10px 0;
  margin-bottom: 0;
}

.home-eats-par {
  text-align: center;
  font-family: gitan-latin, sans-serif;
  font-size: 22px;
  padding: 10px 20px;
  margin: 0;
  color: #F5F7F6;
  font-weight: 400;
}

.home-eats-image {
  display: block;
  width: 100%;
  height: auto;
}

.home-eats-link:hover .right-arrow-icon {
  transform: scale(1.1);
}

/* HOME BEATS */
.home-beats-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
}

.home-beats-column {
  display: flex;
  flex-flow: column;
  max-width: 50vw;
  min-width: 40vw;
  width: auto;
  justify-content: flex-start;
  justify-items: flex-start;
  align-content: center;
  align-items: center;
}

.home-beats-image {
  display: block;
  width: 100%;
  height: auto;
}

.home-beats-link {
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-decoration: none;
}

.home-beats-header {
  font-family: garamond-premier-pro, serif;
  text-align: center;
  font-size: 40px;
  color: #F5F7F6;
  font-weight: 500;
  padding: 30px 10px 10px 10px;
  margin-bottom: 0;
}

.home-beats-par {
  text-align: center;
  font-family: gitan-latin, sans-serif;
  font-size: 22px;
  padding: 10px 20px;
  margin: 0;
  color: #F5F7F6;
  font-weight: 400;
}

.home-beats-link:hover .right-arrow-icon {
  transform: scale(1.1);
}

/* RESTAURANTS, BREWERIES, & BARS */
.page-link-holder {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
}

.page-link {
  text-align: center;
  font-size: 20px;
  color: #515151;
  margin: 0 auto;
  padding-bottom: 10px;
}

.page-link:hover .right-arrow-icon {
  transform: scale(1.1);
}

/* THINGS TO DO */
.things-to-do-header {
  font-family: garamond-premier-pro, serif;
  text-align: center;
  font-size: 45px;
  color: #F5F7F6;
  font-weight: 500;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.things-to-do-container {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-content: center;
}

.things-to-do-column {
  display: flex;
  flex-flow: column;
  width: 50vw;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.home-nature-link {
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-decoration: none;
}

.home-nature-header {
  font-family: garamond-premier-pro, serif;
  text-align: center;
  font-size: 40px;
  color: #F5F7F6;
  font-weight: 400;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.home-nature-image {
  width: 90%;
  display: block;
  height: auto;
  border-radius: 10%;
  box-shadow: 0px 0px 3px 2px #F5F7F6;
}

.home-museum-link {
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-decoration: none;
}

.home-museums-header {
  font-family: garamond-premier-pro, serif;
  text-align: center;
  font-size: 40px;
  color: #F5F7F6;
  font-weight: 400;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.home-museum-image {
  width: 90%;
  display: block;
  height: auto;
  border-radius: 10%;
  box-shadow: 0px 0px 3px 2px #F5F7F6;
  overflow: hidden;
}

.home-museum-link:hover .right-arrow-icon {
  transform: scale(1.1);
}

.home-nature-link:hover .right-arrow-icon {
  transform: scale(1.1);
}

/* WHERE TO STAY */
.where-to-stay-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.home-hotel-link {
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-decoration: none;
}

.home-hotel-header {
  font-family: garamond-premier-pro, serif;
  text-align: center;
  font-size: 45px;
  color: #F5F7F6;
  font-weight: 500;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.home-hotel-par {
  text-align: center;
  font-family: gitan-latin, sans-serif;
  font-size: 22px;
  padding: 10px 20px;
  margin: 0;
  font-weight: 400;
  color: #F5F7F6;
}

.home-hotel-link:hover .right-arrow-icon {
  transform: scale(1.1);
}

/* PARTNERS */
.mid-wrapper {
  display: grid;
  width: 100vw;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  padding-bottom: 50px;
  justify-content: space-evenly;
  justify-items: space-evenly;
  align-content: center;
  align-items: center;
}

.video-holder {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.partner-logo {
  width: auto;
  height: 100px;
  display: block;
  align-self: center;
  justify-self: center;
  padding: 0;
  margin: 0;
}

.video-header {
  text-align: center;
  font-size: 30px;
  font-family: garamond-premier-pro, serif;
  font-weight: 600;
  color: #F5F7F6;
  margin: 10px 0 0 0;
  padding: 0;
}

.art-map-link {
  text-align: center;
  font-family: gitan-latin, sans-serif;
  font-size: 18px;
  color: #F5F7F6;
  font-weight: 300;
  margin: 0;
  padding: 0 0 5px 0;
}

.art-map-link:hover {
  transform: scale(1.05);
  color: #ffffff;
  cursor: pointer;
}

.map-photo {
  width: 90vw;
  max-width: 1000px;
  min-width: 300px;
  display: flex;
  align-self: center;
  margin: 50px auto;
}

#map-popup {
  display: block;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.home-video {
  height: 360px;
  width: 100%;
  min-height: 150px;
  width: 640px;
  padding: 0;
  margin: 0 auto;
  min-width: 400px;
}

.home-main-video {
  max-height: 250px;
  max-width: 95vw;
  min-width: 300px;
  min-height: 150px;
  height: 250px;
  width: 100%;
  margin: 0 auto;
}

.video-description-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
}

.video-title {
  font-family: garamond-premier-pro, serif;
  color: #F5F7F6;
  font-size: 35px;
  text-align: center;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.video-from {
  font-family: gitan-latin, sans-serif;
  color: #F5F7F6;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  padding-bottom: 10px;
}

.sbe-home-video-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}
.sbe-home-video-container p {
  padding-top: 0;
  margin-top: 0;
  font-family: gitan-latin, sans-serif;
  font-size: 16px;
  color: #F5F7F6;
  text-decoration: none;
}
.sbe-home-video-container p a {
  font-family: gitan-latin, sans-serif;
  font-size: 16px;
  color: #F5F7F6;
  text-decoration: none;
}

.sbe-video-container {
  width: auto;
  height: auto;
  padding: 20px;
  text-align: center;
}
.sbe-video-container p {
  padding-top: 0;
  margin-top: 0;
  font-family: gitan-latin, sans-serif;
  font-size: 16px;
  color: #F5F7F6;
  text-decoration: none;
}
.sbe-video-container p a {
  font-family: gitan-latin, sans-serif;
  font-size: 16px;
  color: #F5F7F6;
  text-decoration: none;
}

.menu-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  justify-items: space-evenly;
}

.beer-menu {
  text-decoration: none;
  text-align: center;
  font-family: gitan-latin, sans-serif;
  font-size: 20px;
  color: #F5F7F6;
  margin: 5px 10px;
}

.beer-menu:hover {
  transform: scale(1.1);
  color: #ffffff;
}

#bullet-logo {
  border-radius: 50px;
}

#poppy-logo {
  border-radius: 30px;
}

#otbx-logo {
  border-radius: 30px;
}

#boot-logo {
  border-radius: 30px;
}

#waltons-logo {
  border-radius: 30px;
}

.seb-logo {
  width: 200px;
  height: 200px;
}

/* SPACERS & LINES */
.line {
  width: 100vw;
  height: 3px;
  background: #ffffff;
  margin: 20px 0 10px 0;
}

.line1 {
  width: 100vw;
  height: 1px;
  background: #ffffff;
  padding: 0;
  margin: 20px 0 0 0;
}

.spacer {
  padding: 25px;
}

@media only screen and (max-width: 1300px) {
  .mid-wrapper {
    grid-template-columns: 50% 50%;
  }
}
@media only screen and (max-width: 1000px) {
  .top-wrapper {
    margin-top: 30px;
  }

  .top-header2 {
    display: none;
  }

  .top-header {
    display: none;
  }
}
@media only screen and (max-width: 820px) {
  .mid-wrapper {
    grid-template-columns: 100%;
  }
}
@media only screen and (max-width: 520px) {
  .top-header3 {
    font-size: 30px;
    line-height: 25px;
    padding: 0 0 0 20px;
    margin: 0;
  }

  .top-header1 {
    font-size: 50px;
    line-height: 50px;
    padding: 0 0 0 20px;
    margin: 0;
  }

  .sbe-video-container {
    padding: 0px 20px;
    width: 100vw;
  }
}
@media only screen and (max-width: 450px) {
  .top-header {
    font-size: 45px;
  }

  .partner-logo {
    max-width: 300px;
    width: auto;
    max-height: 100px;
    height: auto;
  }
}
@media only screen and (max-width: 320px) {
  .top-header {
    font-size: 40px;
  }
}
#eat1 {
  display: none;
}

#eat2 {
  display: none;
}

#eat3 {
  display: none;
}

#eat4 {
  display: none;
}

#eat5 {
  display: none;
}

#eat6 {
  display: none;
}

#bar1 {
  display: none;
}

#bar2 {
  display: none;
}

#bar3 {
  display: none;
}

#bar4 {
  display: none;
}

#bar5 {
  display: none;
}

#bar6 {
  display: none;
}

#bar7 {
  display: none;
}

#what1 {
  display: none;
}

#what2 {
  display: none;
}

#what3 {
  display: none;
}

#what4 {
  display: none;
}

#what5 {
  display: none;
}

#what6 {
  display: none;
}

#what7 {
  display: none;
}

#what8 {
  display: none;
}

#hotel1 {
  display: none;
}

#hotel2 {
  display: none;
}

#hotel3 {
  display: none;
}

#hotel4 {
  display: none;
}

#hotel5 {
  display: none;
}

@media only screen and (max-width: 775px) {
  .main-events-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
  }

  .main-events-column {
    width: 90vw;
    min-width: 300px;
    max-width: 100vw;
    padding: 0;
    margin: 0 auto;
  }

  .home-streets-container {
    flex-flow: column-reverse;
    position: relative;
  }

  .home-streets-column {
    min-width: 300px;
    max-width: 100vw;
    width: 600px;
    margin: 0 auto;
  }

  .home-street-image {
    display: block;
    max-height: 300px;
    min-height: 100px;
    min-width: 300px;
    max-width: 100vw;
    height: auto;
    width: auto;
  }

  .home-eats-container {
    flex-flow: column;
    position: relative;
    margin: 0 auto;
  }

  .home-eats-column {
    min-width: 300px;
    max-width: 100vw;
    width: 600px;
    margin: 0 auto;
  }

  .home-eats-image {
    display: block;
    max-height: 300px;
    min-height: 150px;
    min-width: 300px;
    max-width: 100vw;
    height: auto;
    width: auto;
  }

  .home-beats-container {
    flex-flow: column-reverse;
    margin: 0 auto;
    position: relative;
  }

  .home-beats-column {
    min-width: 300px;
    max-width: 100vw;
    width: 600px;
    margin: 0 auto;
  }

  .home-beats-image {
    display: block;
    max-height: 300px;
    min-height: 100px;
    min-width: 300px;
    max-width: 100vw;
    height: auto;
    width: auto;
  }
}
@media only screen and (max-width: 600px) {
  .things-to-do-container {
    flex-flow: column;
    justify-content: center;
  }

  .things-to-do-column {
    width: 400px;
    max-width: 100vw;
    min-width: 300px;
    margin: 0 auto;
  }

  .home-nature-image {
    min-width: 300px;
  }
}

/*# sourceMappingURL=styles.css.map */
