body {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: #ECECEC;
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
}

.weatherwidget-io {
    position: relative;
    height: auto;
    width: 100%;
}
.menu-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    justify-items: space-evenly;
}
.beer-menu {
    text-decoration: none;
    text-align: center;
    font-family: 'Arvo', serif;
    font-size: 20px;
    color: #4a4a4a;
    margin: 5px 10px;
}
.beer-menu:hover {
    transform: scale(1.1);
    color: #5a5a5a;
}

.top-wrapper {
    position: relative;
    top: 0px;
    left: 0;
    margin: 80px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    min-height: 85vh;
    height: auto;
    width: 100vw;
}

.top-container {
    position: absolute;
    height: 85vh;
    width: 100vw;
    overflow-x: hidden;
    background: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    z-index: 5;
}

.top-header {
    padding-top: 100px;
    color: #f1f1f1;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    background: 0;
    letter-spacing: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 70px;
    text-shadow: -4px -4px 10px #000, 4px 4px 10px #000;
}
.home-news-header {
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    font-size: 40px;
    color: #313131;
    font-weight: lighter;
}

.container {
    width: 100%;
    height: auto;
    margin-top: 0;
    padding-top: 0;
}

.button-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    justify-items: space-evenly;
    align-items: center;
    align-content: center;
    padding-top: 30px;
    padding-bottom: 0px;
    max-width: 600px;
    margin: 0 auto;
}

.column {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.fa-facebook-f {
    margin-right: 25px;
}
.top-link {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #454063;
    font-size: 30px;
}

.top-link:hover {    
    transform: scale(1.1);
}

.main-video-holder {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 0;
    padding-top: 0;
}

.main-video {
  padding: 0;
  margin: 20px auto;
  width: 90vw;
  height: 50.6vw;
  max-width: 800px;
  max-height: 449.4px;
  min-width: 300px;
  min-height: 169px;
}
.link:hover {
    color: #4a4a4a;
    transform: scale(1.1);
}

.mid-header {
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    letter-spacing: 3px;
    font-size: 40px;
    color: #4a4a4a;
}
.page-link-holder {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
}
.page-link {
    font-family: 'Arvo', serif;
    text-align: center;
    font-size: 20px;
    color: #515151;
    margin: 0 auto;
    padding-bottom: 10px;
}
.page-link:hover {
    color: #454063;
}

.header2 {
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    letter-spacing: 3px;
    font-size: 40px;
    color: #4a4a4a;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
}
.line {
    width: 100vw;
    height: 1px;
    background: #515151;
    padding: 0;
    margin-bottom: 10px;
}
.line1 {
    width: 100vw;
    height: 1px;
    background: #515151;
    padding: 0;
    margin: 20px 0 0 0;
}
.partner-logo {
    width: auto;
    height: 100px;
    display: block;
    align-self: center;
    justify-self: center;
    padding: 0;
    margin: 0;
}

.mid-wrapper {
    display: grid;
    width: 100vw;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    padding-bottom: 50px;
    justify-content: space-evenly;
    justify-items: space-evenly;
    align-content: center;
    align-items: center;
}

.home-video {
    height: 250px;
    width: 100%;
    min-height: 150px;
    max-width: 400px;
    max-height: 250px;
    padding: 0;
    margin: 0 auto;
    min-width: 400px;
}

.video-holder {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.vid-logo {
    height: auto;
    width: 100px;
}

.video-header {
    text-align: center;
    font-size: 30px;
    font-family: 'Arvo', serif;
    color: #4a4a4a;
    margin: 10px 0;
    padding: 0;
}

.header3 {
    font-family: 'Oxygen', sans-serif;
    font-size: 30px;
    margin: 20px 0;
    padding: 0;
    color: #313131;
    text-align: left;
    width: 100%;
    font-weight: 300;
}

.row {
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    justify-items: space-evenly;
    align-content: flex-start;
    align-items: flex-start;
    width: 100%;
}


.padding-top10 {
    padding-top: 10px;
}

.padding-top20 {
    padding-top: 20px;
}


@media only screen and (max-width: 1300px) {
    .mid-wrapper {
        grid-template-columns: 50% 50%;
    }
}
@media only screen and (max-width: 1000px) {
    .top-wrapper {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 820px) {
    .mid-wrapper {
        grid-template-columns: 100%;
    }
}


@media only screen and (max-width: 450px) {
    .top-header {
        font-size: 45px;
    }
    .partner-logo {
        max-width: 300px;
        width: auto;
        max-height: 100px;
        height: auto;
    }
}
@media only screen and (max-width: 420px) {
    .home-video {
        width: 90%;
        min-width: 320px;
    }
}

@media only screen and (max-width: 320px) {
    .top-header {
        font-size: 40px;
    }
}

#eat1 {
    display: none;
}
#eat2 {
    display: none;
}
#eat3 {
    display: none;
}
#eat4 {
    display: none;
}
#eat5 {
    display: none;
}
#eat6 {
    display: none;
}

#bar1 {
    display: none;
}
#bar2 {
    display: none;
}
#bar3 {
    display: none;
}
#bar4 {
    display: none;
}
#bar5 {
    display: none;
}
#bar6 {
    display: none;
}

#bar7 {
  display: none;
}

#what1 {
    display: none;
}
#what2 {
    display: none;
}
#what3 {
    display: none;
}
#what4 {
    display: none;
}
#what5 {
    display: none;
}
#what6 {
    display: none;
}
#what7 {
    display: none;
}
#what8 {
  display: none;
}

#hotel1 {
    display: none;
}
#hotel2 {
    display: none;
}
#hotel3 {
    display: none;
}
#hotel4 {
    display: none;
}
#hotel5 {
    display: none;
}

.map-link {
  text-align: center;
  font-family: 'Arvo', serif;
  font-size: 20px;
  color: #AA6CB4;
  margin: 0;
  padding: 0;
}

.map-link:hover {
  transform: scale(1.1);
  color: #4a4a4a;
}
.map-photo {
  width: 90vw;
  max-width: 1000px;
  min-width: 300px;
  display: flex;
  align-self: center;
  margin: 50px auto;
}

#map-popup {
  display: block;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.home-news-wrapper {
    width: 100%;
}
.home-events {
    width: 100%;
    height: auto;
    display: block;
}