$black: #1A1A1C;
$true-black: #000000;
$true-white: #ffffff;
$white: #F5F7F6;
$green: #ffffff;
$dark-font: #212121;
$light-font: #4a4a4a;
$background-hover: #e8e8e8;
$grey: #f2f3ee;
$blue: #278adb;
$blue2: #54a3e3;

$serif: 'garamond-premier-pro', serif;
$bebas: 'bebas-neue', sans-serif;
$sans: 'gitan-latin', sans-serif;

$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;