@import 'assets';

.eats-page {
    padding-top: 140px;
}
.eats-video-wrapper {
    display: flex;
    justify-content: center;
}
.eats-header-container {
    display: flex;
    flex-flow: row;
    justify-content: center;

}
.eats-header {
    font-family: $serif;
    font-size: 40px;
    color: $white;
    text-align: center;
    font-weight: $semibold;
}
#purple {
    color: $green;
    padding-left: 10px;
    text-decoration: underline;
}
.eats-partner-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
}

@media only screen and (max-width: 1250px ){
    .eats-partner-wrapper {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 850px) {
    .eats-partner-wrapper {
        grid-template-columns: auto;
    }
}